<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046776824301-6ed6gc1pflaktl2250d7tbrmo0grmmub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046776824301-6ed6gc1pflaktl2250d7tbrmo0grmmub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1046776824301-837fdo75p7hp5migkv32bvshek3m9va7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqBkbCrK1hFQsSM-1Oa3ydwmD24esaSgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1046776824301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-c8cbe</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-c8cbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046776824301:ios:3c7f4dec45b411b85b67e4</string>
	
</dict>
</plist>